{% capture page_title %}{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}{% endcapture %}
{% capture page_description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 150 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ',' }}{% else %}{{ site.keywords }}{% endif %}">

  <!-- Site description -->
  <meta name="description" content="{{ page_description }}">

  <meta name="googlebot" content="index,follow">
<meta name="google-site-verification" content="jNB_RpsVIbD_zo20cgitqGwzGVqV8q2otgU18nVlFTo" />

  <!-- Facebook / Open graph -->
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:image" content="{{ site.url }}/public/img/profile_pic.png">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:site_name" content="{{ site.title }} · {{ site.tagline }}">
  <meta property="og:locale" content="en_US">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@anmonteiro90">
  <meta name="twitter:creator" content="@anmonteiro90">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ page_description }}">
  <meta name="twitter:image" content="{{ site.url }}/public/img/profile_pic.png">

  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link rel="me" href="https://twitter.com/anmonteiro90" type="text/html">
  <link rel="archives" href="{{ site.url }}/archive/" title="Archive">
  <link rel="index" href="{{ site.url }}" title="{{ site.title }} · {{ site.tagline }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <title>{{ page_title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/anmonteiro.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/fontello.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">
</head>
